<section>
    <div class="row">
        <div class="col-md-6">
            <h1 class="test-center">Add Product</h1>
            <form action="">
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control">

                <label for="">Category</label>
                <input type="text" name="Categoty" class="form-control">

                <label for="">Price</label>
                <input type="text" name="Price" class="form-control">

                <label for="">Description</label>
                <input type="text" name="Description" class="form-control">

                <label for="">Image</label>
                <input type="file" class="form-control">

                <button type="submit" class="btn btn-success mt-4">Submit</button>
            </form>
        </div>
    </div>
</section>